*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none !important;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.btn {
  border-radius: 70px;
  background-color: #FDBF5A;
  font-size: 25px;
  padding: 15px 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
}

.btn:hover {
  background-color: #fcab28;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1C1A19;
  padding: 20px 50px 20px 30px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__item {
  margin-right: 45px;
  color: #ffffff;
  cursor: pointer;
  font-size: 21px;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.header-menu__item:hover {
  color: #FDBF5A;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__item.active {
  color: #FDBF5A;
}

.log {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.log-dec {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1C1A19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.log-main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/log/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.log-main__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}

.log-main__form {
  min-width: 350px;
}

.log-main__form-wrapper {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 55px 110px;
  background-color: #fff;
}

.log-main__form-item {
  margin-bottom: 25px;
}

.log-main__form-item__title {
  font-weight: 700;
  font-size: 16px;
}

.log-main__form-item__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #E4E4E4;
  font-size: 18px;
  padding: 10px 0;
}

.log-main__form-submit {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.log-main__caption {
  text-align: center;
}

.log-main__caption span {
  color: #FDBF5A;
  cursor: pointer;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.log-main__caption span:hover {
  color: #fcab28;
}
/*# sourceMappingURL=style.css.map */